*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  
}

.logo img{
  margin-left: 20px;
}

.middle{
    display: inline-flex;
    margin-left: 120px;
    color: white;
}

.oo{
    width: 50px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    margin: 0;
}

.oo i{
  color: rgba(0, 0, 0, 0.555);
}


select, #product_includes{
    height: 50px;
    width: 170px;
    padding: 2px;
    font-size: 15px;
    margin: 0;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-right:0px;
}

input,#Search{
    width: 250px;
    height: 50px;
    margin: 0;
    font-size: 15px;
    padding: 10px;
    background-color: whitesmoke;
    border-left: 0px;
    border: 1px solid lightgray;
}

.inquiery{
  display: flex;
  align-items: center;
}

.call, .help, .fav, .user{
  margin-left:30px;
}

.user i:hover{
  color: #008000;
}

.fav i:hover{
  color:  #008000;
}

  /* .call{
    margin-right: 0px;
    color: black;
} 


i.fa-solid.fa-phone{
    color: #008000;
    display: inline-flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 20px;
    margin-left: 20px;
} */

hr{
    margin-top:30px;

}


@media (max-width:480px){
  .header{
    display: block;
  }
}

@media (max-width:768px){
  .header{
    display: flex;
  }
}

@media (max-width:1024px){
  .header{
    display: flex;
  }
}

/* nabvar */

nav{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1; 
  height: 80px;
  box-shadow: 10px rgba(128, 128, 128, 0.944);
  width: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1; 
    height: 80px;
    box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.944);
    width: 100%;    
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    /* background-color: rgba(0, 0, 128, 0.481); */
    color: green;
    border-radius: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 1;
  }
  
  .dropdown-content a:hover {
    color: green;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  i.fa-solid.fa-cart-shopping{
    margin-top: 20px;
    float: right;
    font-size: larger;
    margin-right: 80px;
  }

  i.fa-solid.fa-cart-shopping:hover{
    color: #008000;
  }

  @media (max-width:480px){
    .nav{
      display: block;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width:768px){
    .nav{
      display: block;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width:1024px){
    .nav{
      display: flex;
    }
  }

  /* Footer */

  footer{
    display:flex; 
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 500px;
  }

  .main_f{
    display: inline-block;
  }

  ul li{
    list-style: none;
    line-height: 25px;
  }

  ul li:hover{
    color: #008000;
  }

  h4.cat{
    font-size: 20px;
    margin-bottom: 10px;
    color: #008000;
    font-weight: bold;
  }

  .logo_l img{
    margin-bottom: 10px;
  }

  h5.l_text{
    margin-bottom: 10px;
    line-height: 20px;
  }

 i .fa-brands-fa-facebook{
  margin-right: 20px;
  margin-top: 10px;
  height: 20px;
  width: 50px;
 }

 h5.te{
  margin-bottom: 20px;
  line-height: 20px;
 }
